<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>52工作助手</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weChat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx5adf0a8c4ba768fa</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1106959533</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.New52Helper.help</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>New52Helper</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>timapiV1</string>
		<string>wtlogintimV1</string>
		<string>timopensdkdataline</string>
		<string>timgamebindinggroup</string>
		<string>timopensdkapiV4</string>
		<string>wtlogintim</string>
		<string>timopensdkgrouptribeshare</string>
		<string>timOpensdkSSoLogin</string>
		<string>timapiwallet</string>
		<string>timgamebindinggroup</string>
		<string>timwpa</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>timopensdkfriend</string>
		<string>timapi</string>
		<string>tim</string>
		<string>mqzoneopensdk</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>mqqapi</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>mqqopensdkapiV4</string>
		<string>wechat</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppSecret</key>
	<string>32ecaf57b1d468fbfab27a4230a23ea2</string>
	<key>MOBAppkey</key>
	<string>2635918feac33</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>52工作助手会在你使用名片识别时,访问你的相机</string>
	<key>NSContactsUsageDescription</key>
	<string>52工作助手会在你使用保存通讯录时,访问你的通讯录</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>52工作助手会在你使用考勤签到,外出时,访问你的定位功能</string>
	<key>NSLocationUsageDescription</key>
	<string>52工作助手会在你使用考勤签到,外出时,访问你的定位功能</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>52工作助手会在你使用考勤签到,外出时,访问你的定位功能</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>52工作助手会在你使用新建日程与语音留言时,访问你的麦克风</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>52工作助手会在你使用本地名片与上传本地图片时,访问你的相册</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>52工作助手会在你使用语音播放时,访问你的音乐播放功能</string>
</dict>
</plist>
